<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Test Practical Developer</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    
    <div id="mapid" style="width: 1425px; height: 500px;"></div>
    <script>
        //Menampilkan Map
	    var mymap = L.map('mapid').setView([42.96458579385069, 12.331521333879119], 4);

	    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

    // Menampilkan Marker 1
	L.marker([45.4780558733086, 9.123961997920256]).addTo(mymap)
		.bindPopup("<b>Stadium:</b><br />Sansiro").openPopup();

    // Menampilkan Marker 2
	L.marker([40.45342238528567, -3.688355159886933]).addTo(mymap)
		.bindPopup("<b>Stadium:</b><br />Santiago Bernabéu");

    //Menampilkan Marker 3
    L.marker([51.55521534819019, -0.10864184976358203]).addTo(mymap)
		.bindPopup("<b>Stadium:</b><br />Emirates");

</script>


</body>
</html>